<%- include('header') -%>
<div class="admin">
    <div class="admin-loggedIn">
        <p>Innskráður sem: </p>
        <p class="admin-user">admin</p>
    </div>
    <a href="/logout">Útskrá</a>
</div>
<%- include('signatures') -%>
<%- include('footer') -%>   