<%- include('header') -%>
<header class="header">
    <h1 class="header__title"><%= titleMessage %></h1>
    <h2 class="header__subtitle"><%= message %></h2>
    <a href="/">Til baka</a>
</header>
<%- include('footer') -%>   