<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undirskriftalisti</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<div class="header">
    <h1 class="header-title"><%= title %></h1>
    <div class="login">
        <a href="/admin/login">Login</a>
    </div>
</div>