<%- include('header') -%>
<body>
    <div class="form">
        <form method="post" action="/admin/login" autocomplete="off" class="form-signup">
            <label>
                <p>Notendanafn</p>
                <input class="input" id="username" type="text" name="username" >
            </label>
            <label>
                <p>Lykilorð</p>
                <input class="input" id="password" type="password" name="password"  >
            </label>
            <div class="form-button">
                <button><h2>Innskrá</h2></button>
            </div>
        </form>
  
    <a href="/">Til baka</a>
    </div>
</body>
<%- include('footer') -%>   