@import './config';

.results {
  border-top: 1px #888 dotted;
  margin: 0 auto;
  max-width: 1000px;
  padding: $gutter 0;
  &-header { /* stylelint-disable-line */
    font-size: 2.5rem;
    margin-bottom: $gutter;
    text-align: center;
  }

  &-none {
    font-size: 1.5rem;
    text-align: center;
  }

  &-table {
    border-collapse: collapse;
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    display: grid;

    td, th, tr { /* stylelint-disable-line */
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
      border-left: 1px solid rgba(0, 0, 0, 0.8);
      padding: 0.5rem;
      width: 33%;
    }

    th { /* stylelint-disable-line */
      font-weight: bold;
    }
  }
}
