@import 'config';

html { /* stylelint-disable-line */
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html { /* stylelint-disable-line */
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.5;
  margin-left: $gutter;
  margin-right: $gutter;

  @media (min-width: $max-width) {
    margin: 0;
  }
}

body { /* stylelint-disable-line */
  background-color: #ffe;
  color: #333;
  overflow-x: hidden;
}

main { /* stylelint-disable-line */
  margin: 0 auto;
  max-width: $max-width;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}

@import 'header';
@import 'signup';
@import 'list';
